{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CSC CRM{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/lead_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/lead_details.css' %}">
    <link rel="stylesheet" href="{% static 'css/call_logs.css' %}">
</head>
<body>
     
<div class="crm-wrapper">
    <!-- Nav Bar -->
     <header class="main-navbar">
        <div class="navbar-left">
            <h1 class="brand-title">CSC</h1>
        </div>
     </header>
</div>

<!-- Module Navigation Tabs -->
     <nav class="module-tabs">
        <a href="{% url 'lead_capture_list' %}" 
           class="tab-link {% if request.resolver_match.url_name == 'lead_capture_list' %}active-tab{% endif %}">
           Lead Capture
        </a>
        <a href="{% url 'lead_pipeline_view' %}"
          class="tab-link {% if request.resolver_match.url_name == 'lead_pipeline_view' %}active-tab{% endif %}">
          Pipeline View
        </a>
        <a href="{% url 'call_logs' %}" 
           class="tab-link {% if request.resolver_match.url_name == 'call_logs' %}active-tab {% endif %}">
           Call-Log
        </a>
        <a href="{% url 'followup_shedule' %}"
           class="tab-link {% if request.resolver_match.url_name == 'followup_shedule' %}active-tab {% endif %}">
           Follow-Up
        </a>
        <a href="{% url 'lead_conversion_report' %}"
           class="tab-link {% if request.resolver_match.url_name == 'lead_conversion_report' %}active-tab {% endif %}">
           Conversion Report
        </a>

        <div class="header-right">
            <a href="{% url 'lead_capture_create' %}" class="btn-primary">+ New Lead</a>
         </div>

     </nav>

<main class="page-body">
    {% block content %}

    {% endblock %}
</main>

<footer class="main-footer">

    <div class="footer-left">
        © 2026 CSC CRM
    </div>

    <div class="footer-right">
        Internal System
    </div>

</footer>


</body>

<script>
    // Error Message for Phone no //
    const phoneInput = document.getElementById('phone_no');
    const phoneError = document.getElementById('phoneError');
    const form = document.getElementById('leadForm');

    phoneInput.addEventListener('input', function() {
        let value = this.value.replace(/\D/g, '');

        if (value.length > 12){
            phoneError.innerText = "Maximum 12 digits only!";
        }
        else if (value.length < 10){
            phoneError.innerText = "Minimum 10 digits required"
        }
        else{
            phoneError.innerText = "";
        }
        this.value = value.slice(0, 12)
    });

    form.addEventListener('submit', function(e){
        let value = phoneInput.value

        if (value.length < 10 || value.length > 12){
            e.preventDefault()
            error.innerText = "Enter valid phone number"
        }
    });

    form.addEventListener('submit', (event)=>{
        let email = document.getElementById('email').value;
        let emailError = document.getElementById('emailError');

        emailError.innerText = "";
        let pattern = /^[^ ]+@[^ ]+\.[a-z]{2,3}$/;

        if(email === ""){
            emailError.innerText = "Email is required";
            event.preventDefault();
        }
        else if(!pattern.test(email)) {
            emailError.innerText = "Enter a valid email";
            event.preventDefault();
        }
    })

    // Clear button to clear the input fields

    function clearForm(){
        document.getElementById('leadForm').reset();
    }

    // Shows Calender when click the enquiry field //

    document.getElementById("enquiryDate").addEventListener("click", function() {
    this.showPicker();
});

    // Shows Calender when click the Next_followup field //

    document.getElementById('nextFollowUpDate').addEventListener("click", function(){
        this.showPicker();
    })
</script>
</html>